/* Estilo Geral */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #eef3f8;
    height: 80px;
}

section {
    padding: 20px;
}

/* Estilo do Logo */
#logo {
    display: block;
    margin: 20px auto;
    max-width: 350px;
}

/* Texto do artigo */
#article {
    background-color:#ffffff;
    text-align: center;
    color: #555;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
}

/* Produtos e Serviços */
#servicos {
    background-color: #ffffff;
    padding: 40px 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tit-produtos {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Cards dos produtos */
#produtos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#produtos article {
    flex: 1;
    min-width: 250px;
    background-color: #eef3f8;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#produtos img {
    max-width: 100px;
    margin-bottom: 10px;
}

#produtos p {
    font-size: 14px;
    color: #555;
}

/* Seções adicionais */
#localizacao, #setor, #setor2 {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#localizacao img, #seta img {
    max-width: 150px;
    margin: 20px 0;
}